{#
  /**
    * @file
    * Default theme implementation for an item list.
    *
    * Available variables:
    *
    * @see template_preprocess_template_directory()
    *
    * @ingroup themeable
    */
#}
{% set info_id_insurance = 'Use the same 10 digits phone number and email account you use to access LD Extras.' %}
<a class="help-tooltip" href="#" data-toggle="tooltip"  data-placement="top" title=" {{ info_id_insurance|t }} ">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37255 18.6274 -3.05176e-05 12 -3.05176e-05C5.37258 -3.05176e-05 0 5.37255 0 12C0 18.6274 5.37258 24 12 24Z" fill="#E0E8F5"/>
    <path d="M11.9999 18.7457C11.1715 18.7457 10.4999 18.0742 10.4999 17.2457C10.4999 16.4173 11.1715 15.7457 11.9999 15.7457C12.8283 15.7457 13.4999 16.4173 13.4999 17.2457C13.4999 18.0742 12.8283 18.7457 11.9999 18.7457Z" fill="#2C68C9"/>
    <path d="M13.6 12.6654C13.2354 12.8245 12.9998 13.1846 13 13.5824C13 14.1347 12.5523 14.5824 12 14.5824C11.4477 14.5824 11 14.1347 11 13.5824C10.9998 12.3893 11.7066 11.3096 12.8 10.8324C13.7156 10.4328 14.1959 9.4188 13.9251 8.45719C13.6543 7.49557 12.7154 6.88128 11.7258 7.01823C10.7362 7.15518 9.99949 8.00136 10 9.00038C10 9.55267 9.55228 10.0004 9 10.0004C8.44772 10.0004 8 9.55267 8 9.00038C7.99997 7.00259 9.47397 5.3111 11.453 5.0379C13.432 4.7647 15.3092 5.99356 15.8504 7.91664C16.3916 9.83971 15.431 11.8663 13.6 12.6654Z" fill="#2C68C9"/>
  </svg>
</a>